.dashboard-wrapper {
  background-color: #F5F5F5;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  .title {}

  .sidebar{
    width: 20vw;
    background-color: #d0d0d0;
    padding: 2em;
    >div{
      margin-top: 1em;
    }
  }

  .dashboard {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    padding: 2em;
    flex-grow: 1;

    >div {
      margin-bottom: 2em;
    }
  }
}