.card {
  background: #ffffff;
  box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 16px;
}

.card .title-bar{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: flex-start; */
  /* margin-top: .5em; */
  margin: 0;
  padding: 0;
  width: 100%;
}



.card .title-bar *{
  margin: 0 1em 0 0;
}

.card .title-bar .btn-close{
  margin: 0;
}

.card .title-bar .title{
  color: #3D3D3D;
  font-size: 20px;
}

.card .title-bar .subtitle{
  color: #727272;
  font-size: 14px;
  font-weight: 500;
}

.card small{
  color: #727272;
  font-size: 12px;
  margin: 0;
  font-weight: 300;
}

.main.card{
  padding: 2em;
}

.main.card .title-bar{
  justify-content: center;
  margin-bottom: 3em;
}

.main.card .title-bar .btn-close{
  position: absolute;
  right: 1em;
  top: 1em;
}

.main.card .title-bar .title{
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}