.version-row {
  display: flex;
  flex-direction: row;

  .snapshot-checkbox {
    margin-right: 1em;
    .form-label {
      margin-bottom: 0.7rem;
    }
  }
}

.create-button-wrapper {
  margin-top: 3em;
}
