.instance-list-wrapper{
  overflow-x: scroll;
  width: 100%;
}

.instance-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}

.instance-list .instance{
  margin: 0 2em 0 0;
}