.systemMonitor {
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 12px;
}

.graphWrapper {
    margin: 12px;
    display: flex;
    flex-direction: column;
}

.lineGraphWrapper {
    width: 50%;
}

.doughnutGraphWrapper {
    width: 25%;
    align-items: center;
}

.doughnutGraphWrapper p {
    text-align: center;
}

.lineGraph {
    width: 100%
}

.doughnutGraph {
    width: 75%;
}
