.form-control:focus,
.form-check-input:focus,
.form-select:focus,
.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  border-color: hsl(123deg 31% 48%);
  box-shadow: 0 0 0 0.25rem hsl(123deg 73% 41% / 25%);
}

.form-check-input:checked {
  background-color: hsl(123deg, 98%, 35%);
  border-color: hsl(123deg, 98%, 40%);
}

.form-description-explainer {
  margin-left: 0.5em;
}

.form-label {
  margin-bottom: 0.3rem;
}

.btn-primary {
  color: #fff;
  background-color: #008f06;
  border-color: #008f06;
}

.btn-primary:hover {
  color: #fff;
  background-color: #007206;
  border-color: #007206;
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #006405;
  border-color: #006405;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #C0E3C2;
  border-color: #C0E3C2;
}
