@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  min-width: 100%;
  min-height: 100%;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Some libraries don't like class name */
/* So I guess I'll customize them here */
.gutter-horizontal {
  @apply bg-transparent hover:cursor-col-resize;
  width: 0px !important;
  padding-right: 5px !important;
  margin-right: -5px !important;
  padding-left: 5px !important;
  margin-left: -5px !important;
  z-index: 10000;
}

.gutter-vertical {
  @apply bg-transparent hover:cursor-row-resize;
  height: 0px !important;
  padding-bottom: 5px !important;
  margin-bottom: -5px !important;
  padding-top: 5px !important;
  margin-top: -5px !important;
  z-index: 10000;
}

input {
  /* just inherit all font-style, stop user agent stylesheet from setting it */
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-transform: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(40 40 40, 0);
  /* background: rgb(40 40 40); */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(247 247 247 / 22%);
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: inherit;
}

/* set the user selection color */
::selection {
  background: hwb(148 7% 33% / 0.3);
}

/* rc-tooltip */
.rc-tooltip-inner {
  @apply min-h-0 rounded px-2 py-1 text-small tracking-tight text-gray-300 shadow-none;
}

.rc-tooltip {
  @apply opacity-100;
}

/* Removing the spin arrow */

/* Chrome, Safari, Edge, Opera */
input.noSpin::-webkit-outer-spin-button,
input.noSpin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.noSpin[type='number'] {
  -moz-appearance: textfield;
}
