@tailwind base;
@tailwind components;
@tailwind utilities;

/* load minecraft font */

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft_changed.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  min-width: 100%;
  min-height: 100%;
  overscroll-behavior: none;
  overflow: overlay;
  @apply font-sans text-gray-300;
}

* {
  box-sizing: border-box;
  --scrollbar-color: #00000000;
}

/* Tailwind custom classes */
@layer components {
  .dashboard-instance-heading {
    @apply font-title text-2xlarge font-[550] tracking-medium;
  }

  /* Input is really annoying because some elements are true form elements 
   * and can use enabled:, disabled:, invalid:, etc.
   * But some elements are not form elements and can't use those.
   * So I have to use a custom class to style them.
   * I don't like this, but I don't know how to fix it.
   *
   * Also we don't have scss/sass/less so we can't use nesting.
   *
   * update: lol we can use the headlessui plugin
   */

  .input-base {
    @apply appearance-none rounded bg-gray-900 py-1.5 px-3 text-left font-medium leading-snug tracking-tight outline outline-1 placeholder:text-white/30 focus-visible:ring-4  enabled:text-gray-300 disabled:bg-gray-800 disabled:text-white/50;
  }

  .input-base.disabled {
    @apply bg-gray-800 text-white/50;
  }

  .input-base.border-normal {
    @apply outline-gray-faded/30 invalid:outline-red invalid:focus-visible:outline-red enabled:focus-visible:ring-blue-faded/50;
  }

  .input-base.border-error {
    @apply outline-red focus-visible:outline-red enabled:focus-visible:ring-red-faded/30;
  }

  .input-base.enabled {
    @apply text-gray-300;
  }

  .input-base.enabled.border-normal {
    @apply focus-visible:ring-blue-faded/50;
  }

  .input-base.enabled.border-error {
    @apply focus-visible:ring-red-faded/30;
  }
}

@layer utilities {
  .overflow-overlay {
    overflow: overlay;
  }

  .overflow-y-overlay {
    overflow-y: overlay;
  }

  .overflow-x-overlay {
    overflow-x: overlay;
  }

  .gutter-stable {
    scrollbar-gutter: stable;
  }

  .gutter-both {
    scrollbar-gutter: both-edges;
  }

  .gutter-both-stable {
    scrollbar-gutter: both-edges stable;
  }
}

/* Some libraries don't like class name */
/* So I guess I'll customize them here */
.gutter-horizontal {
  @apply bg-transparent hover:cursor-col-resize;
  width: 0px !important;
  padding-right: 5px !important;
  margin-right: -5px !important;
  padding-left: 5px !important;
  margin-left: -5px !important;
  z-index: 10000;
}

.gutter-vertical {
  @apply bg-transparent hover:cursor-row-resize;
  height: 0px !important;
  padding-bottom: 5px !important;
  margin-bottom: -5px !important;
  padding-top: 5px !important;
  margin-top: -5px !important;
  z-index: 10000;
}

input {
  /* just inherit all font-style, stop user agent stylesheet from setting it */
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-transform: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

/* custom scrollbar */
::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
}

*:hover,
*:focus,
*:focus-within {
  --scrollbar-color: hsla(0, 0%, 50%, 0.7) !important;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 3px solid transparent;
  border-radius: 12px;
  box-shadow: 2px 0px 0px 2px var(--scrollbar-color) inset;
}

/* *::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color);
  border: 0px solid transparent;
  box-shadow: none;
} */

::-webkit-scrollbar-corner {
  background: inherit;
}

/* set the user selection color */
::selection {
  background: hwb(148 7% 33% / 0.3);
}

/* rc-tooltip */

.rc-tooltip-inner {
  @apply min-h-0 rounded-md bg-gray-800 px-2 py-1 text-base font-medium tracking-tight text-gray-300 shadow-md border border-gray-faded/30;
}

.rc-tooltip {
  @apply opacity-100;
  padding: 0px !important;
}

/* Removing the spin arrow */

/* Chrome, Safari, Edge, Opera */
input.noSpin::-webkit-outer-spin-button,
input.noSpin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.noSpin[type='number'] {
  -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
