body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  --yellow: #FECB00;
  --green: #008F06;
  --red: #F50000;
  --gray: #E2E2E2;
}

.safe, .active, .green{
  color: var(--green);
}

.disabled, .gray{
  color: var(--gray)
}

.caution, .yellow{
  color: var(--yellow);
}

.danger, .red{
  color: var(--red);
}