name: Main CI Workflow

on:
    push:
      branches:
        - dev
        - main
        - releases/**
  
    pull_request:
      branches:
        - dev
        - main
        - releases/**
jobs:
  workspace-check:
    uses: ./.github/workflows/workspace-check.yml
    secrets: inherit

  core-cargo-test:
    uses: ./.github/workflows/core-cargo-test.yml
    secrets: inherit

  dashboard-build-and-draft:
    uses: ./.github/workflows/dashboard-build-and-draft.yml
    needs: [workspace-check, core-cargo-test]
    with:
      debug: false
      version: null
    secrets: inherit

  core-build-and-draft:
    uses: ./.github/workflows/core-build-and-draft.yml
    needs: [workspace-check, core-cargo-test]
    with:
      version: null
    secrets: inherit
